<div class="cart-container">
    <h1 class="title-products">Cart</h1>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>            
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tbodyproducts">
            {{#each cartDTO.products}}
            <tr class="col"> 
                <td>
                     <img src={{this.thumbnail}}>
                </td>         
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td><p data-id={{this.id}} class="price">{{this.price}} </p></td>
                <td>{{this.stock}}</td>
                <td class="btns-quantity-container-row"> 
                    <div class="btns-quantity-container">
                        <a  id={{this.id}} class="btn-minus">-</a>
                        <form class="form-quantity" >
                            <input type="number" class="quantity-input" data-id={{this.id}} value={{this.quantity}}>
                        </form>
                        <a id={{this.id}} class="btn-plus">+</a>
                    </div>
                </td>
                <td ><p data-id={{this.id}} class="total-partial">{{this.totalPartial}}</p></td>
                <td><a id={{this.id}} class="btn-delete">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table id="table-container" class="default">
    </table>
    <section class="purchase-btn-container">
         <a  id='btn-purchase' class="btn-purchase">Purchase</a>
    </section>
   
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>