<div class="products-container">
    <div class="session-container">
         <h2>Hola {{user.firstName}}!</h2>
         <div class="logOut-container">
            {{#if user.isAdmin}}
            <h3>Eres administrador</h3>
            {{else}}
            <h3>Eres usuario</h3>
            {{/if}}
            <a class="logout-btn"  href="http://localhost:8080/api/sessions/logout">Cerrar sesión</a>
         </div>   
    </div>
    <h1 class="title-products">Productos</h1>
    <div class="cards-container">
        {{#each data}}
        <div class="card">
            <img src={{this.thumbnail}} alt={{this.title}}>
            <div class="card-content">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                 <p>Stock: {{this.stock}} u.</p>
                <p>{{this.price}}</p>
                <a href="http://localhost:8080/products/{{this.id}}" id={{this.id}} class="btn-view">View detail</a>
            </div>
        </div>
        {{/each}}
    </div>   
        <div class="paginate-container">
            {{#if paginate}}
                {{#if paginate.prevLink}}
                    <a href={{paginate.prevLink}}> Previous page </a>
                {{else}}
                    <p>Previous page</p>
                {{/if}}
                    <p>{{paginate.page}}</p>
                {{#if paginate.nextLink}}
                    <a href={{paginate.nextLink}}>Next page</a>
                {{else}}
                    <p>Next page</p>
                {{/if}}
            {{/if}}
        </div>
</div>

<script src="/js/products.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>